.proposalForm_cont {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url("./../../Assets/Images/homepage1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProposalForm {
  background-color: white;
  margin: 100px auto;
  padding: 10px 0px;
  width: 700px;
  height: fit-content;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

label {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.ProposalForm_head {
  text-align: center;
}

.proposalForm_icon {
  text-align: end;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

.proposalForm_form {
  display: flex;
}

.form_eventName {
  height: 30px;
  padding-left: 5px;
}

.filter-select {
  width: 129px;
  height: 30px;
  /* outline: none; */
  padding-left:5px ;
}

.form_contact {
  width: 130px;
  height: 20px;
}

.proposalForm_left {
  flex: 1;
  padding: 10px;
  height: 450px;
}

.form_individual {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form_align {
  display: flex;
  justify-content: space-between;
}

.proposalForm_desc {
  height: 70px;
  font-size: 13px;
  font-weight: 400;
}

.proposalForm_right {
  flex: 1;
  padding: 10px;
}

.proposalForm_image_head {
  display: flex;
  justify-content: space-between;
}

.proposalForm_displayImg {
  height: 100px;
  border: 1px soild black;
  border-color: black;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.indImg {
  width: 30%;
  max-height: 50px;
  margin: 5px;
}

.proposalForm_desc_right {
  height: 110px;
  font-size: 15px;
  font-weight: 400;
}

.space {
  width: 100%;
  height: 100px;
  border: 1px soild black;
}

.buttonDiv {
  margin-top: 10px;
  text-align: center;
}

textarea {
  resize: none;
  padding: 5px;
}

.postButton {
  background-color: #0a68db;
  color: white;
  padding: 8px 20px;

  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}

/* .postButton:hover {
  background-color: red;
  color: black;
} */

.Imagebtn {
  padding: 5px 10px;
  border: 1px solid rgb(40, 166, 216);
  color: rgb(40, 166, 216);
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.form-error{
  align-items: center;
  color: red;
  margin-bottom: 10px;
}