.Event {
    width: 95%;
    /* border: 1px solid black; */
    height: fit-content;
    margin: 40px auto;
    color: rgb(131, 127, 127);
    font-size: 17px;
}

b {
    font-size: 15px;
    color: rgb(79, 76, 76);
}

.Event_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Event_header_btn {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    border: 3px solid rgb(25, 202, 238);
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}

.Event_header_btn:first-child {
    margin-right: 10px;

}

.Event_Content {
    display: flex;
}

.Event_Content_left {
    width: 30%;
    /* border: 1px solid black; */
    height: fit-content;
}

.Event_Content_left_img {
    width: 100%;
    height: 215px;
    border-radius: 5px;
}

.Event_Content_left_id {
    /* background-color: rgb(120, 118, 118); */
    padding-left: 10px;
}

.Event_Content_left_Info {
    padding: 10px 20px;
}

.Event_Content_left_Info_email {
    margin-top: 10px;
}

.Event_Content_left_flex {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.Event_Content_left_detail {
    display: flex;
    flex-direction: column;
}

.Event_Content_left_album_head {
    color: black;
    font-size: 22px;
}

.display_album {
    width: 100%;
    padding: 5px;
    height: 200px;
    /* border: 1px solid black; */
    margin-top: 10px;
}

.display_album_img {
    width: 30%;
    height: 80px;
    margin: 6px;
    /* border: 1px solid black; */
}

.Event_Content_right {
    width: 70%;
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
}

.Event_Content_right_right {
    width: 50%;
    /* border: 1px solid black; */
    height: fit-content;
}

.Event_Content_right_right_top {
    width: 100%;
    height: 247px;
    /* border: 1px solid black; */
    padding: 15px 15px 15px 30px;
    /* margin-top: 10px; */
}

.Content_point {
    width: 100%;
    margin: 20px 0px;
}

.Event_Content_right_right_contact {
    padding: 100px 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
}

.contactname {
    font-size: 20px;
}

.contactNumber {
    color: rgb(33, 31, 31);
}

.bottom {
    margin-top: 130px;
}

@media only screen and (max-width:395px) {
    .Event_header_name {
        font-size: 19px;
    }

    .Event_header_btn {
        padding: 6px 8px;
    
    }

    .Event_Content {
        display: flex;
        flex-direction: column;
    }

    .Event_Content_left {
        width: 100%;
        margin-top: 15px;
    }

    .Event_Content_left_id {
        font-size: 20px;
    }

    .Event_Content_left_Info_email {
        font-size: 24px;
    }

    .Event_Content_left_Info_name{
        font-size: 24px;
    }

    b {
        font-size: 19px;
        color: rgb(79, 76, 76);
    }

    .Event_Content_left_flex {
        flex-direction: column;
    }

    .Event_Content_left_Info_startDate{
        margin-bottom: 12px;
        font-size: 22px;
    }

    .Event_Content_left_Info_endDate{
        font-size: 22px;
    }

    .Event_Content_left_detail{
        font-size: 21px;
        flex-direction: row;
    }
    .Event_Content_left_detail:first-child{
       margin-bottom: 10px;
    }
    .Event_Content_left_detail>b{
        margin-left: 10px;
    }

    .Event_Content_right{
        width: 100%;
        flex-direction: column;
    }
    .Event_Content_right_right {
        width: 100%;
    }

    .Event_Content_right_right_top {
        width: 100%;
        height: fit-content;
        padding: 15px 15px 56px 30px;
    }
    .bottom {
        margin-top: 0px;
    }

    .Event_Content_right_right_contact {
        padding: 37px 10px 0 10px;
        justify-content: space-between;
    }

    .contactname {
        font-size: 24px;
    }

    .contactNumber {
        color: rgb(33, 31, 31);
        font-size: 19px;
    }

    .Event_Content_right_right_top_point{
        font-size: 19px;
        text-align: justify;
    }
    


}