.ProDisplay {
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    margin: 15px auto 10px auto;
    /* margin: 0 14px 20px 10px; */
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    position : relative;
    z-index: 1;

}

.ProDisplay_img {
    width: 100%;
    height: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ProDisplay_content {
    padding: 5px 10px;
    color: rgb(74, 71, 71);
}

.ProDisplay_content_name {
    font-size: 20px;
}

.ProDisplay_content_price {
    font-size: 16px;
}

.ProDisplay_content_place {
    font-size: 16px;
}

.ProDisplay_content_delete{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: rgb(81, 79, 79);

}

@media only screen and (max-width:395px) {
    .ProDisplay_img{
        height: 208px;
    }

    .ProDisplay_content_name {
        font-size: 25px;
    }

    .ProDisplay_content_price {
        font-size: 22px;
    }

    .ProDisplay_content_place {
        font-size: 23px;
    }

    .ProDisplay_content_delete{
        font-size: 2rem;
    }
}